/* ========================MAIN=========================*/

#sequencerpage {
  background: var(--medium-color);
  color: var(--darkest-color);
}

/* ========================RHYTHM CIRCLE=========================*/

#circlescont{
  position:fixed;
  top:calc(50% - 230px);
  right:calc(50% - 230px);
  height:460px;
  width:460px;
  transform-origin: 50% 50%;
  transform:scale(1);
}

.circle-comp{
  right:calc(10% - 230px) !important;
  transform:scale(0.3) !important;
}


#rhythmcircle {
  height: 300px;
  width: 300px;
  border-radius: 99999px;
  border: solid 1px var(--dark-color);
  position: absolute;
  left: 50%;
  margin-left:-150px;
  margin-top:-150px;
  top:50%;
  z-index:2;
  cursor:pointer;
}



#rhythmcircle:hover {
  filter: contrast(80%) brightness(120%);
  transition:0.2s;
  
  
}

#statuscursor {
  position: absolute;
  left:50%;
  margin-left:-180px;
  top:50%;
  margin-top:-180px;
  height:360px;
  width:360px;
  border-radius: 50%;
  transition:0s;

}

#statuscursor div{
  position:absolute;
  top:-50px;
  left:50%;
  height:30px;
  width:4px;
  margin-left:-2px;
  background: var(--contrast-color);

}

#chordcircle{
  position: absolute;
  left:50%;
  margin-left:-230px;
  top:50%;
  margin-top:-230px;
  height:460px;
  width:460px;
  border-radius: 50%;
  transition: filter 0.2s;
  cursor:pointer;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  background-size: cover;
} 

#chordcircle:hover{
  filter: contrast(80%) brightness(120%);
} 

#chordcirclecenter{
  position: absolute;
  left:50%;
  margin-left:-200px;
  top:50%;
  margin-top:-200px;
  height:400px;
  width:400px;
  background: var(--brightest-color);
  border-radius: 50%;
  } 

#indcenter {
  height: 400px;
  width: 400px;
  border-radius: 99999px;
  position: absolute;
  left: 50%;
  margin-left: -200px;
  top: 150px;
}

.ce {
  position: absolute;
  transform-origin: center center;
  transform: rotate(45deg);
}

.seqtile > .ce {
  left:-30px;
  top:50%;
}

.cestyle1 {
  height: 40px;
  width: 40px;
  border-radius: 99999px;
  background: linear-gradient(45deg, var(--darkest-color), #031e3a);
  margin-left: -20px;
  margin-top: -20px;
}

.cestyle2 {
  height: 20px;
  width: 20px;
  border: solid 2px var(--dark-color);
  background: var(--bright-color);
  margin-left: -11px;
  margin-top: -11px;
}

.cestyle3 {
  height: 20px;
  width: 20px;
  border: solid 2px var(--bright-color);
  background: linear-gradient(
    45deg,
    var(--dark-color),
    var(--dark-color)
  );
  margin-left: -11px;
  margin-top: -11px;
}

.cestyle4 {
  height: 8px;
  width: 8px;
  background: var(--dark-color);
  margin-left: -4px;
  margin-top: -4px;
}

.cestyle5 {
  height: 20px;
  width: 20px;
  background: var(--dark-color);
  margin-left: -10px;
  margin-top: -10px;
}

.cestyle6 {
  height: 30px;
  width: 30px;
  border-radius: 99999px;
  border: 2px solid var(--dark-color);
  background: var(--darkest-color);
  margin-left: -17px;
  margin-top: -17px;
}

.cestyle7 {
  height: 26px;
  width: 26px;
  border-radius: 99999px;
  border: 2px solid var(--dark-color);
  background: var(--dark-color);
  margin-left: -15px;
  margin-top: -15px;
}

.cestyle8 {
  height: 22px;
  width: 22px;
  border-radius: 99999px;
  border: 2px solid var(--dark-color);
  background: var(--bright-color);
  margin-left: -13px;
  margin-top: -13px;
}

.cestyle9 {
  height: 20px;
  width: 20px;
  background: var(--darkest-color);
  margin-left: -10px;
  margin-top: -10px;
}

.cestyle10 {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid var(--darkest-color);
  margin-left: -10px;
  margin-top: -10px;
  transform: rotate(0deg);
}

/* ===================SEQUENCER===================*/

.seqtile {
  height: 100%;
  width: 40px;
  outline: solid 1px var(--dark-color);
  margin: 0;
  position: relative;
  transition: 0.1s;
  background-color: var(--medium-color);
  flex-shrink: 1;
  flex-grow: 1;
  flex-wrap: nowrap;
}
.seqtile:hover {
  background-color: var(--bright-color);
}

.selectedTile {
  background: var(--darkest-color) !important;
}

.seqcursor {
  background: var(--bright-color);
}

.seqrow {
  height: 40px;
  width:100%;
  outline: solid 1px var(--dark-color);
  transition: 0.1s;
  background-color: var(--medium-color);
  float: left;
  display:flex;
  flex-shrink: 1;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: nowrap;
}

#bpminput {
  width: 80px;
  left: 50%;
  margin-left: -40px;
  top: 600px;
  position: absolute;
  border: solid white 1px;
  background: none;
  height: 50px;
}
#bpminput:focus {
  outline: none;
}

#knobcontainer {
  position: absolute;
  top: 600px;
  width: 100%;
  display: none;
}

.stateIndicator {
  font-size: 80px;
  color: #edf5e1;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  opacity: 0;
  z-index: 999;
  position: absolute;
  transition: 0s;
}

#stepseq {
  position: absolute;
  height: 55%;
  top:15%;
  left: 50%;
  width:60%;
  margin-left: -30%;
  display:flex;
  flex-direction:column;
  
}

#stepinputalert {
  width: 500px;
  height: 52px;
  left: 50%;
  margin-left: -223px;
  position: absolute;
  color: #e85a4f;
  font-size: 60px;
  top: 30px;
  text-align: center;
}

#stepinputrecord {
  width: 52px;
  height: 52px;
  position: absolute;
  margin-top: 14px;
  margin-left: -26px;
  border-radius: 999px;
  background: #e85a4f;
}

#stepindicator {
  width: 80px;
  height: 80px;
  left: 50%;
  margin-left: -40px;
  position: absolute;
  color: var(--darkest-color);
  font-size: 80px;
  top: 50%;
  margin-top: -60px;
  text-align: center;
  transition: 0.5s;
}

.seqlbl {
  font-size: 12px;
  color: var(--darkest-color);
  position:absolute;
  left:-90px;
  top:calc(50% - 7px);
  height:100%;
}

/* ===================SWITCH BUTTON===================*/

#switchseqmode{
  position: absolute;
  width: 80px;
  transition: 0.3s;
  left:80%;
  text-align: center;
  font-size: 36px;
  margin-left:20px;


}

.sequencerbutton {
  height: 60px;
  border-radius: 0px;
  top:40px;

}
.sequencerbutton:hover {
  background: var(--dark-color);
}

.circlebutton {
  top:30px;
  height: 80px;
  border-radius: 999px;
  border: 1px solid var(--dark-color);
  background: #37968300;
}

.buttontiles {
  height: 19px;
  width: 19px;
  float: left;
  background: var(--brightest-color);
  border: solid 1px var(--medium-color);
  margin-top: -1px;
  margin-left: -1px;
}

.drummeasure{
  display: flex;
  flex-direction: column;

}

.drummsretile{
  background: var(--bright-color);
  flex-grow: 1;
  flex-shrink: 1;
  height:100%;
  /*outline: 1px solid var(--medium-color);*/

}

.activetile{
  background: var(--dark-color);
  outline: solid 1px var(--bright-color);


}

.drummsrerow{
  width:100%;
  flex-grow: 1;
  flex-shrink: 1;
  display:flex;
  flex-direction: row;
}

#bt2,
#bt5,
#bt11 {
  background: var(--darkest-color);
}
