@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Semi+Condensed:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


:root {

  
  --brightest-color: #edf5e1; 
  --bright-color: #8ee4af;
  --medium-color: #5cdb95;
  --dark-color: #379683;
  --darkest-color: #05386b;  
  --contrast-color: #e85a4f;
   
  /*
  --brightest-color: #edf5e1; 
  --bright-color: #8ee4af;
  --medium-color: #5cdb95;
  --dark-color: #379683;
  --darkest-color: #05386b;  
  --contrast-color: #e85a4f;
   
  */
  /* 
  --brightest-color: #FEFFFF;
  --bright-color: #D2624C;
  --medium-color: #C44931;
  --dark-color: #B4432C;
  --darkest-color: #333;
  --contrast-color: #e85a4f;
   */
}

html {
  overflow: hidden;
  background: var(--brightest-color);
  color: var(--darkest-color);
  user-select: none;
  font-family: "Barlow Semi Condensed", sans-serif;
  
}

html::-webkit-scrollbar {
  display: none;
}


header{
  /* box-shadow: 0 1px 4px rgb(0 0 0 / 50%); */
  position:fixed;
  height:64px;
  top:0;
  width:100%;
  /* background:linear-gradient(45deg,var(--medium-color),var(--darkest-color)); */
  
  display:flex;
  align-items: center;
  justify-content:flex-start;
  z-index:99;
  /* color:var(--darkest-color); */
  /*border-bottom: 1px solid var(--dark-color);*/

}

body {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
}

.loadingscreen{
  height: 100%;
  width: 100%;
  background: var(--brightest-color);
  position:fixed;
  z-index:999;
  display: flex;
  justify-content: center;
  align-items: center


}

.loadingscreen i{
  color: var(--dark-color);
  font-size:10vw;

}

#workspace {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 100%;
}

.page{
  position: fixed;
  margin: 0;
  width: 100%;
  height: 100%;
}

.title {
  margin: 0px 20px;
  text-decoration: none;
  font-family: "Barlow Semi Condensed", sans-serif;
}

#sessiontitle{
  font-size: 24px;

  
}

#logo{
  font-size: 36px;
}

#betatag{
  position: absolute;
  font-size:10px;
  /* transform: rotate(45deg); */
  transform-origin: 50% 50%;
  color:var(--dark-color)
}

#tabnav{
  flex-grow: 1;
  height:72px;
  margin: 0 0 0 20px;
  display: flex;
  justify-content:flex-end;
  /*margin-top:24px;*/

}

.tabitem{
  width:48px;
  height:64px;
  margin-right: 8px;

  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}


.tabitem > img{
  width:28px;
  height:28px;
  /*WHITE*/
  /*filter: invert(91%) sepia(15%) saturate(168%) hue-rotate(41deg) brightness(101%) contrast(101%);*/ 
  /*filter: invert(61%) sepia(6%) saturate(4320%) hue-rotate(118deg) brightness(82%) contrast(73%);*/
  filter: invert(18%) sepia(17%) saturate(6289%) hue-rotate(195deg) brightness(89%) contrast(104%);
}

.tabitem > span{
  text-align: center;
  font-size: 24px;

  
}

.selectednavitem{
  border-bottom:2px solid var(--darkest-color)
}

#mycanvas{
  position:absolute;
  left:50%;
  top:50%;
  z-index:3;
  margin-top: -50px;
  margin-left: -50px;
}
.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s linear;
}
.hidden {
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
  z-index:-1;
}

.visibletext {
  color: var(--darkest-color);
  transition: opacity 0.3s linear;
}
.hiddentext {
  color: transparent;
  transition: opacity 0.3s linear;
}

.shadow {
  box-shadow: 1px 1px 4px 1px var(--darkest-color);
}

.sticky{
  position:fixed;
}

.flex-break{
  flex-basis:100%;
  height:0;
}

.customtooltip {
  z-index: 999;
  background:var(--brightest-color) !important;
  color:var(--darkest-color) !important;
  border: solid 1px #05386b67 !important;
  /* border-radius: 10px; */
  font-family: "Barlow Semi Condensed", sans-serif !important; 
}

.row {
  position: fixed;
  width: 100%;
  z-index: 0;
}

.column {
    position: absolute;
    top: 15%;
    height:60%;
    width:60%;
    left:50%;
    margin-left: -30%;
  }

#headcont {
  height: 15%;
  top: 0;
}

#timelinepage {

  
  /*top: 15%;*/
}


#bottomcont {
  height: 30%;
  bottom: 0;
  background-color: #8ee4af;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:flex-start;
  overflow:clip;
}

.pagemenu {
  color: var(--darkest-color);
  font-size: 24px;
}

.pagemenu:hover {
  color: var(--medium-color);
}



.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:96px;
	right:40px;
	background-color:var(--darkest-color);
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  cursor:pointer;
  z-index: 99;
}

.float > i{
	line-height:60px;
}

 /* 
::-webkit-scrollbar {
    width: 10px;
  }
  
 Track 
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   */
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--dark-color); 

  }
  
  /* Handle on hover 
  ::-webkit-scrollbar-thumb:hover {
    background: var(--darkest-color); 

  }
  */

input{
  border:solid 1px var(--darkest-color);
  border-radius: 0px;
  background-color: transparent;
  font-size: 26px;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: var(--darkest-color);


}

input:focus {
  outline-width: 0;
    
}

input::selection {
  background: var(--bright-color); /* WebKit/Blink Browsers */
}
input::-moz-selection {
  background: var(--bright-color); /* Gecko Browsers */
}


input{
  border:solid 1px var(--darkest-color);
  border-radius: 0px;
  background-color: transparent;
  font-size: 26px;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: var(--darkest-color);


}

button{

  background:var(--dark-color);
  border:1px solid var(--darkest-color);
  color: var(--brightest-color);
  height:36px;
  font-size:20px;
  cursor: pointer;
  font-family: "Barlow Semi Condensed", sans-serif;
}

button:focus {
  outline-width: 0;
    
}
button:hover {
  filter:brightness(1.2) contrast(0.8);
    
}

select{
  border:solid 1px var(--darkest-color);
  border-radius: 0px;
  font-family: inherit;
  color:var(--darkest-color);
  font-size: inherit;
  background-color: var(--brightest-color);
}

select:focus {
  outline-width: 0;
    
}

#downloadloopbtn{
  background:var(--dark-color);
  border:1px solid var(--darkest-color);
  color: var(--brightest-color);
  height:36px;
  font-size:20px;
  cursor: pointer;
  font-family: "Barlow Semi Condensed", sans-serif;
  line-height:36px;
  width:160px;
  text-align: center;
  text-decoration: none;
}

#downloadloopbtn:hover {
  filter:brightness(1.2) contrast(0.8);
  text-decoration: underline;
}

#sessionsettings{

  color: var(--darkest-color);
  transition:0.3s;
  overflow:visible;
}

#ss-window{
  position:absolute;
  top:62px;
  width:256px;

  display:none;
  background:var(--brightest-color);
  outline:solid 1px var(--darkest-color);
  transition:height 0.3s;
  padding:16px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
  align-content: flex-start;

}


#sessionsettings:hover ~ #ss-window{
  animation-name: expand;
  animation-duration: 0.3s;
  display:flex;
}

#ss-window:hover{
  display:flex;

}

#ss-window:hover #stticon{
  animation-name: rotate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;



}

#sessionsettings:hover > .material-icons{
  
  animation-name: rotate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#ss-window > input{
  flex: 0 0;
  width:40px;
  margin:8px 0 8px 0;
  height:24px;
  font-size:24px;
  text-align: center;
  border:none;
  border-bottom:1px solid var(--darkest-color);

}


#ss-window > select{
  flex: 0 0;
  height:24px;
  font-size:18px;
  text-align: center;
  

}

#ss-window > .optlbl{
  flex: 1 0;
  margin:8px 0 8px 0;
  font-size:16px;

}

.textcheckboxlbl {
  color: var(--darkest-color);
  margin:0 0 0 16px;
}

.textcheckbox {
  display: none;
}

.textcheckbox:checked + .textcheckboxlbl {
  color: var(--medium-color);
}

input[type="text"] + .textcheckbox:checked{
  color:#999 !important;
  border:none;

}


.disabled{
  color:#999;
}

/*///////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////*/


#intrument-editor{
  background:var(--brightest-color);
  outline: solid 1px ;
}

#ie-close{
  position: absolute;
  top:0px;
  left:-50px;
  color:var(--darkest-color);
  cursor: pointer;
  font-size:48px;
  z-index:2;
}

#instr-tabs{

  height:40px;
  display: flex;
  flex-direction: row;

}

.instr-tabs-item{

  width:1px;
  flex-grow: 1;  
  line-height: 40px;
  text-align: center;
  
}

.ie-cont{
  position:absolute;
  outline: solid 1px #05386b25;
  display:flex;
  justify-content:flex-start;
  flex-wrap: wrap;
  


}

.ie-subcont{
  flex-grow: 1;
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  align-self: stretch;
  justify-content:flex-start;
  align-items:center;
}


#ie-osc{
  width:60%;
  height:50%;
  top:40px;
  flex-direction: column;
  align-items:stretch
  


}
#ie-flt{
  width:60%;
  height:calc(50% - 40px);
  bottom:0;
  flex-direction: row;

}
#ie-adsr{
  right:0;
  height:calc(70% - 40px);
  top:40px;
  width:40%;
  flex-direction: column;

}
#ie-amp{
  bottom:0;
  right:0;
  height:30%;
  width:40%;
  flex-direction: row;

}

.ie-title{
  width:100%;
  margin:8px 0px 16px 0px;
  text-align:center;
  flex-shrink: 0;
  max-height:16px;

}

.ie-select{
  margin:8px;
}

.ie-slider-cont{
  flex-grow: 1;
  display: flex;
  justify-content:space-around;
  align-self:stretch;
  flex-direction: row;
  flex-wrap: wrap;
  margin:8px 16px 8px 16px;


}

.ie-slider-cont > .flex-row{
  flex: 0 1 30%;
  width:50%;

  justify-content:space-between;

}

.ie-slider-cont input{
  flex: 0 1 50px;

}

.ie-slider-cont span{
  flex: 0 0 40px;
  max-width: 40px;
  width:40px;
  text-overflow:ellipsis;

}


#ie-mainosc-wave{
  outline: solid 1px var(--darkest-color);
  margin-bottom:24px;

}




/*///////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////*/


.bottomcont{
  top:75%;
  height:15%;
  display:flex;
  justify-content:center;
  align-items:center;

}

.rotated{
  transform:rotate(-90deg)
}

.flex-col{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
}

.flex-row{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  align-items: center;
}

@keyframes rotate {
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}

@keyframes expand {
  from {right: -256px}
  to {right: 0}
}

