@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Semi+Condensed:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap");

:root {
  --brightest-color: #edf5e1;
  --bright-color: #8ee4af;
  --medium-color: #5cdb95;
  --dark-color: #379683;
  --darkest-color: #05386b;
  --contrast-color: #e85a4f;
}

html {
  overflow: hidden;
  background: var(--medium-color);
  color: var(--darkest-color);
  user-select: none;
  font-family: "Barlow Semi Condensed", sans-serif;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  background: var(--medium-color);
}

#workspace {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 100%;
}

.page{
    position: fixed;
  margin: 0;
  width: 100%;
  height: 100%;
}

.title {
  text-decoration: none;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: var(--darkest-color);
  font-size: 40px;
}

#sidemenu {
  position: fixed;
  height: 100%;
  background-color: var(--brightest-color);
  width: 250px;
  transition: 0.3s;
  z-index: 3;
}

#menuicon {
  top: 30px;
  left: 30px;
  position: fixed;
  font-size: 36px;
  color: var(--dark-color);
}

#sidemenucontainer {
  height: inherit;
  position: fixed;
  width: inherit;
  padding: 30px;
}

#sidemenubackgound {
  background: repeating-linear-gradient(
    45deg,
    var(--dark-color),
    var(--dark-color) 10px,
    var(--bright-color) 10px,
    var(--bright-color) 20px
  );
  height: inherit;
  position: fixed;
  width: inherit;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s linear;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
}

.visibletext {
  color: var(--darkest-color);
  transition: opacity 0.3s linear;
}
.hiddentext {
  color: transparent;
  transition: opacity 0.3s linear;
}

.shadow {
  box-shadow: 2px 2px 8px 1px var(--darkest-color);
}

.customtooltip {
  z-index: 999;
  padding: 3px;
  background-color: var(--bright-color);
  box-shadow: none;
  border-radius: 0px;
  border: 0px;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.row {
  position: fixed;
  width: 100%;
  z-index: 0;
}

.column {
    position: fixed;
    height: 100%;
    z-index: 0;
  }

#headcont {
  height: 15%;
  top: 0;
}

#maincont {
  height: 40%;
  top: 15%;
}

#bottomcont {
  height: 45%;
  bottom: 0;
}

.pagemenu {
  color: var(--darkest-color);
  font-size: 24px;
}

.pagemenu:hover {
  color: var(--medium-color);
}


