#melodylist{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items:center;
    justify-content:center;
    align-content:center;
}

#melodylist > .material-icons{
    font-size: 48px;
    color:var(--dark-color);
    margin-top: 30px;
    width:100%;
    text-align:center;
}


.melodylistitem{

    height:60px;
    width:100%;
    margin-bottom:8px;
    /* border:1px solid var(--darkest-color); */
    flex-grow:0;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:flex-start;

}
.melodyinfo{
    flex-grow:0;
    margin:8px;
}

.melodypreview{
    position:relative;
    height:60px;
    /* background: linear-gradient(var(--medium-color),var(--dark-color)); */
    background: var(--bright-color);

    width:200px;
    margin:0px 20px;
    flex-grow:1;
    flex-shrink: 0;
   
}

.melodyactions{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-around;
    flex-grow:0;
    flex-shrink:1;


}

.melodyactions > span{
    margin-right: 15px;
    cursor: pointer;
}

.melodyactions > span:hover{
    filter:brightness(1.2);
}

.melodyactions .m-remove{
    color: var(--contrast-color);
}

.melodyactions .m-play{
    font-size:32px;
    color: var(--medium-color);
}

.melodylistitem h3,h5{
    margin:0 0 0 0;
}

.preview-note{
    position:absolute;
    background:var(--dark-color);
    border-radius: 0px;

}


#melodyeditcont{
    outline:1px solid var(--darkest-color);
}

#pianoroll{
    background: var(--dark-color);
    text-align: center;
    overflow:hidden;
    height:100%

}

/* #pianoroll::-webkit-scrollbar {
    width: 0px;
  }

  #pianorollkeys::-webkit-scrollbar {
    width: 0px;
  } */

#pianorollkeys{
    width:50px;
    position:absolute;
    left:0px;
    display: flex;
    flex-direction: column-reverse;
    height:100%;
    margin-top:-1px;

}

.prkey{
    width:50px;
    background: var(--brightest-color);
    outline:1px solid var(--darkest-color);
    flex-grow: 1;
}

#pianorollkeys > .prblack{
    background: var(--darkest-color);
    color:var(--brightest-color);

}

#pr-close{
    position: absolute;
    top:0px;
    left:-50px;
    color:var(--darkest-color);
    cursor: pointer;
    font-size:48px;
    z-index:2;
}

#pianorollgrid{
    position:absolute;
    width:calc(100% - 50px);
    left:50px;
    height:100%;
    display: flex;
    flex-direction: column-reverse;

}

#prcont{
    position:absolute;
    width:calc(100% - 15px);
    top:30px;
    left:0;
    height:calc(100% - 30px);
    overflow:hidden;
}

.prrow{
    flex-grow:1;
    display: flex;
    flex-direction: row;

}

.prblack > .prtile{
    background: #379683;
}

.prtile{
    flex-grow: 1;
    flex-shrink: 1;
    width:1px;
    border-left:1px solid rgb(43, 116, 101);
    border-bottom:1px solid rgb(43, 116, 101);
    background-color: #40ad97;
    order:1;
}

#headerkey{
    background:var(--darkest-color);
    color:"transparent";
    order:0;
    width:50px;
    flex-grow: 0;
    outline:none;
    border:none;


}

#prheader{
    display: flex;
    flex-direction: row;
    top:0;
    height:30px;
    background:var(--darkest-color);
}

#prheader > .prtile{
    background:var(--darkest-color);
    border:0px;  

}

.note{
    background:var(--medium-color);
    position:absolute;
    border:solid 1px var(--darkest-color);
    margin-top:-1px;
    border-radius:3px;
}

.activenote{
    border:solid 1px var(--contrast-color);
    background:var(--darkest-color);
    color:var(--brightest-color)

}

#prcursor{
    position:absolute;
    height:100%;
    width:0;
    border-left: solid 1px var(--brightest-color);
    left:50px;
    z-index: 99;
}

#prscrollbar{
    width:15px;
    height:calc(100% - 30px);
    position:absolute;
    right:0;
    top:30px;
    outline: 1px solid var(--darkest-color);
}

#prscrollthumb{
    width:15px;
    height:30px;
    position:absolute;
    background:var(--medium-color);
}
